@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header, h1 {
    padding: 50px;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(62, 62, 62);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.546);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}